Repository OpenVoiceOS/ovos-core, pull requests merged in 2024-02, with the labels that each got.

#410 fix/ocp_keywords
  .github/workflows/license_tests.yml
  ovos_core/intent_services/ocp_service.py
  requirements/requirements.txt
Labels: bug

#413 license dance
  .github/workflows/license_tests.yml
  requirements/requirements.txt
Labels: refactor, tests and automation, packaging

#412 test: skill_installer tests
  ovos_core/skill_installer.py
  test/unittests/skills/test_skill_installer.py
Labels: tests and automation

#411 Update README.md
  README.md
Labels: documentation

#418 fix: adjust adapt confidence levels
  ovos_core/intent_services/__init__.py
  ovos_core/intent_services/adapt_service.py
  requirements/requirements.txt
Labels: bug

#401 Update skills-essential.txt
  requirements/skills-desktop.txt
  requirements/skills-essential.txt
  requirements/skills-gui.txt
  requirements/skills-internet.txt
  requirements/skills-media.txt
  setup.py
Labels: packaging

#421 unittests: update tests
  .github/workflows/license_tests.yml
  test/end2end/routing/test_sched.py
  test/end2end/routing/test_session.py
  test/end2end/session/test_complete_failure.py
  test/end2end/session/test_converse.py
  test/end2end/session/test_fallback.py
  test/end2end/session/test_fallback_v1.py
  test/end2end/session/test_get_response.py
  test/end2end/session/test_sched.py
  test/end2end/session/test_session.py
  test/end2end/session/test_stop.py
  test/unittests/configuration/test_configuration.py
Labels: bug, tests and automation

#422 unittests: OCP pipeline
  ovos_core/intent_services/ocp_service.py
  test/unittests/skills/ocp.py
Labels: tests and automation

#423 test: fix codecov OCP tests
  test/unittests/skills/test_ocp.py
Labels: tests and automation
